<div class='login-form screen-centered centered'>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= image_tag "renewal_logo.png" %>

    <div class="form-group">
      <%= f.email_field :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" },
        placeholder: t('activerecord.attributes.user.email'),
        label: false
      %>
    </div>

    <div class="actions">
      <%= f.submit t('devise.passwords.new.reset_password'), class: 'btn btn-login login-form'%>
    </div>
    <div class='or-seperator'><br></div>
    <%= render "users/shared/links" %>
  <% end %>
</div>
