<!DOCTYPE html>
<html>
  <head>
    <title>Renewal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <main role='main'>
      <div class="main-panel">
        <div class="content">
          <%= render 'template/sidebar' %>
          <%= render 'template/navbar' %>

          <% if notice %>
            <br>
            <div class="alert alert-success" role="alert">
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <br>
            <div class="alert alert-danger" role="alert">
              <%= alert %>
            </div>
            <p class="notice"><%= notice %></p>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
